<%- include('./partials/base') %>


<!-- HEADER -->
    <%- include('./partials/header') %>


<main class="main">
    <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">Sign up for Tours</h2>
        <form class="form form--signup">
            <div class="form__group">
                <label class="form__label" for="name">Name</label>
                <input class="form__input" id="name" type="text" placeholder="Nguyen Van A" required="required" />
            </div>
            <div class="form__group">
                <label class="form__label" for="email">Email address</label>
                <input class="form__input" id="email" type="email" placeholder="you@example.com" required="required" readonly onfocus="this.removeAttribute('readonly');"/>
            </div>
            <div class="form__group ma-bt-md">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" id="password" type="password" placeholder="••••••••" required="required" minlength="8" readonly onfocus="this.removeAttribute('readonly');"/>
            </div>
            <div class="form__group ma-bt-md">
                <label class="form__label" for="password">Password Confirm</label>
                <input class="form__input" id="password-confirm" type="password" placeholder="••••••••" required="required" minlength="8" autocomplete="off"/>
            </div>
            <div class="form__group">
                <button class="btn btn--green">Login</button>
            </div>
        </form>
    </div>
</main>


<%- include('./partials/footer') %>

