<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tour NodeJS || <%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>
<body>


<!-- HEADER -->
    <%- include('./partials/header') %>

<!-- CONTENT -->
    <section class="overview">
        <h1><%= tour %></h1>

<!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
</html>